/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* css reset*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'josefin sans', sans-serif;
	text-decoration: none;
	scroll-behavior: smooth;

}

/* Global Variable*/

:root{
	--mainColor: #9b51e0;
	--bodyBgColor: #101010;
	--boxBgColor: #333333;
	--headingColor: white;
	--textColor: rgba(255, 255, 255, 0.35);
	--border: 2px solid var (--mainColor);
	--boxShadow: 0 0 20px #9B51E05F;
}
body{
	background: #181D23;
	color: rgba(255, 255, 255, 0.35);
}
h1, h2, h3{
	color: white;
}

/* Global Classes Start */

.btn{
	display: inline-block;
	text-decoration: none;
	color: white;
	font-weight: 400;
	font-size: 15px;
	letter-spacing: 1px;
	text-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
	border: 2px solid #23A2D7;
	border-radius: 30px;
	padding: 15px 30px 13px 30px;
	overflow: hidden;
	position: relative;
	transition: all 0.3s;
	z-index: 1;
}

.btn::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0;
	background-color: #23A2D7;
	transition: all 0.3s;
}
.btn:hover::before{
	height: 100%;
	z-index: -1;
}

.padding{
	padding: 120px 5%;

}
/* Global Classes End */
/*=============================*/

/*===========header start =========*/
header{
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 330px;
	background-color: #1D232B;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 15px;
	padding: 5px 20px;
	transition: 0.4s;
	overflow-y: auto;
	z-index: 200;
}

header .dp{
	text-align: center;
	border-bottom: 2px dashed #23A2D7;
	padding-bottom: 20px;
}

header .dp img{
	width: 100px;
	border-radius: 50%;
	box-shadow: 0 0 100px #06649B;
}
header .dp h2{
	font-size: 20px;
	font-weight: 500;
	margin-top: 25px;
	letter-spacing: 1px;
}

header .dp p{
	font-size: 12px;
	font-weight: 400;
	margin-top: 10px;
	color: lightgrey;
}

header nav ul li{
	list-style: none;
	margin: 25px 0;
	padding: 2px 25px;
	border-left: 2px solid #23A2D7;
}

header nav ul li a{
	display: inline-block;
	color: rgba(255, 255, 255, 0.35);
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: 0.4s;

}

header nav ul li a:hover{
	color: #23A2D7;
}

header nav ul li .active{
	color: #23A2D7;
}
header .social-icon{
	text-align: center;
	border-top: 2px dashed #23A2D7;
	padding-top: 20px;
}

header .social-icon a{
	display: inline-block;
	color: #23A2d7;
	border: 2px solid #23A2D7;
	font-size: 17px;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	text-align: center;
	line-height: 35px;
	transition: 0.4s;

}

header .social-icon a:hover{
	background-color: #23A2D7;
	color: white;
}
/* Responsive Menu btn */

#MenuBtn{
	z-index: 1000;
	position: fixed;
	right: 40px;
	top: 40px;
	color: white;
	width: 45px;
	height: 45px;
	background-color: #23A2D7;
	text-align: center;
	line-height: 46px;
	font-size: 22px;
	border-radius: 50px;
	box-shadow: 0 0 50px #06649B;
	cursor: pointer;
	display: none;
}

/* Responsive View */

@media only screen and (max-width: 1100px){
	#MenuBtn{
		display: block;
	}
	header{
		left: -350px;
	}

}
.toggle-header header{
	left: 0;
}
/* header end */

/* ============================ */


/* Main section start */
main{
	margin-left: 325px;
	transition: 0.3s;
}

@media only screen and (max-width: 1100px){
	main{
		margin-left:0;
	}
}
/* Main section end */
/*======================*/

/* Home Section Start*/

#home{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-image: url(img/abc.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	
}
#home::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #102334a7;
	z-index: -1;
}
#home .home-row{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	text-align: center;
	margin-top: 50px;

}
#home .home-row h1{
	font-size: 75px;
	font-weight: 400;
	text-transform: uppercase;
}
#home .home-row p{
	color: whitesmoke;
	font-size: 45px;
	font-weight: 300;
	text-transform: uppercase;
}
#home .home-row .buttons{
	margin-top: 20px;
}
#home .home-row .buttons a{
	font-size: 18px;
	border: 3px solid #23A2D7;
}

/*Responsive View */

@media only screen and (max-width: 700px){
	#home{
		height: auto;
	}
	#home .home-row h1{
		font-size: 60px;
	}
    #home .home-row p{
    	font-size: 35px;
    	height: 80px;
    }
    #home .home-row .buttons{
    	margin-top: 0px;
    }
}

/* Home Section End*/
/*========================*/

/*About section start */

/*Global class*/

.sub-title{
	color: #23A2D7;
	font-size: 13px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 300;
	position: relative;
	padding-left: 70px;
	margin-bottom: 20px;
}

.sub-title::before{
	content: '';
	position: absolute;
	left: 0;
	top: 40%;
	width: 65px;
	height: 1px;
	background-color: #23A2D7;
}
.title{
	font-size: 30px;
	font-weight: 500;
	line-height: 30px;
	letter-spacing: 1px;
	margin-bottom: 45px;
}
.sub-para{
	font-weight: 400;
	letter-spacing: 0.5px;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 20px;
}
/* end classes */

#about .about-row{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
}

#about .about-row .img-col{
	flex-basis: 40%;
	position: relative;
}

#about .about-row .img-col img{
	width: 100%;
	border-radius: 10px;
	box-shadow: -10px 10px 50px rgba(0, 0, 0, 0.19);
}

#about .about-row .img-col::before{
	content: '';
	position: absolute;
	bottom: -20px;
	left: -20px;
	width: 100%;
	height: 95%;
	background: #06649B;
	border-radius: 10px;
	z-index: -1;
}

#about .about-row .info-col{
	flex-basis: 55%;
}

#about .about-row .info-col .skills{
	margin-top: 45px;
	width: 100%;	
}

#about .about-row .info-col .skills .skill-box{
	margin-bottom: 30px;
}

#about .about-row .info-col .skills .skill-box .skill-nfo{
	display: flex;
	justify-content: space-between;
	margin-bottom: 8px;
}

#about .about-row .info-col .skills .skill-box .skill-nfo h4{
	color: whitesmoke;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 0.7px;
	text-transform: uppercase;
}

#about .about-row .info-col .skills .skill-box .outer-bar{
	width: 100%;
	height: 7px;
	background-color: #333333;
	border-radius: 5px;
}
#about .about-row .info-col .skills .skill-box .inner-bar{
	background-color: #23A2D7;
	height: 7px;
	border-radius: 5px;
	width: 0%;
	transition: 2s;
}

/*Responsive view */

@media only screen and (max-width: 800px){
	#about .about-row{
		flex-direction: column;
		gap: 80px;
	}
	#about .about-row .img-col{
		width: 50%;
		margin-top: 30px;
	}
}

@media only screen and (max-width: 500px){
	#about .about-row .img-col{
		width: 80%;
		margin-top: 30px;
		text-align: center;
	}

	#about .about-row .img-col::before{
		bottom: -20px;
		left: -20px;

	}
}
/*About section end */

/*======================*/

/* experience sections start*/

#exp .exp-row{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
}

#exp .exp-row .exp-box{
	background-color: #333333;
	border-radius: 10px;
	padding: 35px 30px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

#exp .exp-row .exp-box i{
	width: 45px;
	height: 45px;
	background-color: #23A2D7;
	border-radius: 50%;
	text-align: center;
	color: white;
	line-height: 45px;
	font-size: 20px;
	margin-bottom: 7px;
	position: relative;

}

#exp .exp-row .exp-box i::after{
	content: '';
	position: absolute;
	right: -80px;
	top: 45%;
	width: 70px;
	height: 1px;
	background-color: #23A2D7;
}

#exp .exp-row .exp-box h2{
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 0.5px;
	color: whitesmoke;
	margin-right: 120px;
}

/* responsive view */

@media only screen and (max-width: 1350px){
	#exp .exp-row .exp-box h2{
		margin-right: 0;
	}
}

@media only screen and (max-width: 630px){
	#exp .exp-row{
		grid-template-columns: 1fr;
	}

	#exp .exp-row .exp-box h2{
		margin-right: 50px;
	}
}

@media only screen and (max-width:470px){
	#exp .exp-row .exp-box h2{
		margin-right: 0;
	}
}
/* experience sections end */

/*===============*/

/* ===========Portfolio section start ==========*/
#portfolio .port-row{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;
	margin-top: 70px;
}

#portfolio .port-row .img{
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.18);
}

#portfolio .port-row .img img{
	width: 100%;
	height: 100%;
	transition: 0.5s;
}

#portfolio .port-row .img:hover img{
	transform: scale(1.09);
}

/*Responsive view */

@media only screen and(max-width: 650px){
	#portfolio .port-row{
		grid-template-columns: 1fr;
		margin: 0 20px;
	}
}

/*Portfolio end*/

/*============================*/
/*services start*/

#service .ser-row{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 25px;
	margin-top: 50px;
}

#service .ser-row .ser-box{
	background-color: #333333;
	border-radius: 10px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.331);
	text-align: center;
	padding: 50px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}
#service .ser-row .ser-box:hover{
	box-shadow: 0 0 20px #06649B;
}

#service .ser-row .ser-box i{
	font-size: 45px;
	color: #23A2D7;
	margin-bottom: 15px;
}
#service .ser-row .ser-box h2{
	color: whitesmoke;
	font-size: 22px;
	font-weight: 400;
}
/*responsive view */
@media only screen and (max-width:1300px){
	#service .ser-row{
		grid-template-columns: 1fr 1fr;
	}
}

@media only screen and (max-width: 1100px){
	#service .ser-row{
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media only screen and (max-width: 620px){
	#service .ser-row{
		grid-template-columns: 1fr;
		margin: 0 10%;
	}
	#service .ser-row .ser-box{
		padding: 30px 20px;
	}
}

@media only screen and (max-width: 400px){
	#service .ser-row{
		margin: 0 10%;
	}
}

/* services end */
/*=========================*/

/* achivement section start */
#achive .achive-row{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	margin-top: 20px;
}

#achive .achive-row .achive-box{
	text-align: center;
}

#achive .achive-row .achive-box i{
	font-size: 90px;
	color: #333333;
	margin-bottom: 20px;
}
#achive .achive-row .achive-box h2{
	color: #23A2D7;
	font-weight: 300;
	font-size: 60px;
	margin: 5px 0;
}

#achive .achive-row .achive-box p{
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 1px;
}
/* Responsive View */
@media only screen and (max-width: 800px){
	#achive .achive-row{
		grid-template-columns: 1fr 1fr;
		grid-gap: 30px;
	}
}
@media only screen and(max-width: 400px){
	#achive .achive-row .achive-box i{
		font-size: 50px;
		margin-bottom: 10px;
	}
	#achive .achive-row .achive-box h2{
		font-size: 30px;
	}
	#achive .achive-row .achive-box p{
		font-size: 16px;
	}
}

/* achivement section end */
/* =======================*/
/*contact section start */


#contact .footer{
	padding: 20px;
	margin-top: 100px;
	border-top: 1px solid #333333;
}
#contact .footer p{
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	color: #23A2D7;
	letter-spacing: 0.6px;
	text-transform: uppercase;
}

/*contact section end */